@charset "UTF-8";
/*
* top.css
*
*/
/* --------------------------------
  base
-------------------------------- */
.un_wrapper {
  position: relative;
}

.ly_cont {
  margin-right: auto;
  margin-left: auto;
  width: 87.2vw;
}
@media (min-width: 768px) {
  .ly_cont {
    padding-right: min(7.3206442167vw, 100px);
    padding-left: min(7.3206442167vw, 100px);
    width: min(87.8477306003vw, 1200px);
  }
}

.section {
  position: relative;
}

.hp_palt {
  font-feature-settings: "palt";
}

/* --------------------------------
  global
-------------------------------- */
.ly_header {
  display: flex;
  align-items: center;
  height: 13.3333333333vw;
}
@media (min-width: 768px) {
  .ly_header {
    height: min(4.39238653vw, 60px);
  }
}

.un_header_inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 6.4vw;
  margin-left: 6.4vw;
  width: 100%;
}
@media (min-width: 768px) {
  .un_header_inner {
    margin-right: min(13.3967789165vw, 183px);
    margin-left: min(13.3967789165vw, 183px);
  }
}

.bl_header_logo > a {
  display: block;
  transition: opacity 0.1s linear;
}
@media (min-width: 768px) {
  .bl_header_logo > a:hover {
    opacity: 0.8;
  }
}

.un_header_logo_natural_products {
  margin-top: -0.5333333333vw;
  width: 18.4vw;
}
@media (min-width: 768px) {
  .un_header_logo_natural_products {
    margin-top: 0;
    width: min(7.3206442167vw, 100px);
  }
}

.un_header_logo_sumitomo_chemical {
  margin-top: -0.5333333333vw;
  width: 29.0666666667vw;
}
@media (min-width: 768px) {
  .un_header_logo_sumitomo_chemical {
    margin-top: max(-0.1464128843vw, -2px);
    width: min(10.3221083455vw, 141px);
  }
}

.ly_footer {
  text-align: center;
}

.un_footer_head {
  padding-top: 12.5333333333vw;
  padding-bottom: 13.3333333333vw;
  border-top: 1px solid #ddd;
}
@media (min-width: 768px) {
  .un_footer_head {
    padding-top: min(2.0497803807vw, 28px);
    padding-bottom: min(2.0497803807vw, 28px);
  }
}

@media (min-width: 768px) {
  .un_footer_nav_ul {
    display: flex;
    justify-content: center;
  }
}

.bl_footer_nav_list {
  position: relative;
}
@media (min-width: 768px) {
  .bl_footer_nav_list {
    margin-right: min(2.196193265vw, 30px);
    margin-left: min(2.196193265vw, 30px);
  }
  .bl_footer_nav_list::before {
    content: "";
    display: block;
    position: absolute;
    top: calc(50% - min(0.0732064422vw, 1px));
    left: max(-2.3426061493vw, -32px);
    width: 1px;
    height: min(0.9516837482vw, 13px);
    transform: translateY(-50%);
    background-color: #333;
  }
  .bl_footer_nav_list:last-child::before {
    left: max(-2.196193265vw, -30px);
  }
  .bl_footer_nav_list:last-child::after {
    content: "";
    display: block;
    position: absolute;
    top: calc(50% - min(0.0732064422vw, 1px));
    right: max(-2.3426061493vw, -32px);
    width: 1px;
    height: min(0.9516837482vw, 13px);
    transform: translateY(-50%);
    background-color: #333;
  }
}

.bl_footer_nav_list + .bl_footer_nav_list {
  margin-top: 8vw;
}
@media (min-width: 768px) {
  .bl_footer_nav_list + .bl_footer_nav_list {
    margin-top: 0;
  }
}

.footer_nav_link {
  display: block;
  transition: opacity 0.3s linear;
  font-size: 3.7333333333vw;
  line-height: 1.1428571429;

  text-underline-offset: 1.6vw;
}
@media (min-width: 768px) {
  .footer_nav_link {
    text-decoration: none;
    font-size: min(1.0248901903vw, 14px);
    line-height: 2.2857142857;

    text-underline-offset: min(0.2928257687vw, 4px);
  }
  .footer_nav_link:hover {
    opacity: 0.6;
  }
}

.un_footer_bottom {
  padding-bottom: 12.8vw;
  background-color: #eee;
}
@media (min-width: 768px) {
  .un_footer_bottom {
    padding-top: min(0.7320644217vw, 10px);
    padding-bottom: min(1.0248901903vw, 14px);
  }
}

.un_footer_copy {
  margin-left: -6.9333333333vw;
  font-size: 10px;
  line-height: 1;
}
@media (min-width: 768px) {
  .un_footer_copy {
    margin-left: 0;
    font-size: min(0.878477306vw, 12px);
  }
}

.un_pagetop {
  display: flex;
  visibility: hidden;
  opacity: 0;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  position: fixed;
  z-index: 5;
  right: 2.6666666667vw;
  bottom: 2.6666666667vw;
  padding: 2.1333333333vw 6.6666666667vw 3.2vw;
  transition: opacity 0.3s linear, visibility 0.3s linear;
  background-color: rgba(55, 69, 89, 0.3);
  text-align: center;
  text-decoration: none;
}
@media (min-width: 768px) {
  .un_pagetop {
    right: min(1.8301610542vw, 25px);
    bottom: min(1.8301610542vw, 25px);
    margin-right: max(-0.5124450952vw, -7px);
    padding: min(0.5124450952vw, 7px) min(1.8301610542vw, 25px) min(0.878477306vw, 12px);
  }
}
.un_pagetop.is-show {
  visibility: visible;
  opacity: 1;
}
.un_pagetop.absolute {
  position: absolute;
}
@media (min-width: 768px) {
  .un_pagetop:hover .un_pagetop_circle {
    -webkit-animation: pagetop_circle 0.4s ease-out;
            animation: pagetop_circle 0.4s ease-out;
  }
  .un_pagetop:hover .un_pagetop_arrow svg {
    -webkit-animation: move_arrow_top 0.9s cubic-bezier(0.25, 0.46, 0.45, 0.94);
            animation: move_arrow_top 0.9s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  }
  .un_pagetop:hover .un_pagetop_txt {
    opacity: 0.6;
  }
}
.un_pagetop > span {
  display: flex;
  justify-content: center;
}

.un_pagetop_icon {
  position: relative;
}

.un_pagetop_circle svg {
  overflow: visible;
  width: 4.8vw;
}
@media (min-width: 768px) {
  .un_pagetop_circle svg {
    width: min(1.317715959vw, 18px);
  }
}

.un_pagetop_arrow {
  position: absolute;
  z-index: 1;
  top: calc(50% + 0.2666666667vw);
  left: 50%;
  transform: translate(-50%, -50%);
}
@media (min-width: 768px) {
  .un_pagetop_arrow {
    top: calc(50% + min(0.0732064422vw, 1px));
  }
}
.un_pagetop_arrow svg {
  display: flex;
  width: 1.6vw;
  height: 1.8666666667vw;
}
@media (min-width: 768px) {
  .un_pagetop_arrow svg {
    width: min(0.5856515373vw, 8px);
    height: min(0.7320644217vw, 10px);
  }
}

.un_pagetop_txt {
  transition: opacity 0.3s linear;
  color: #fff;
  font-size: 3.2vw;
  line-height: 1.3333333333;
}
@media (min-width: 768px) {
  .un_pagetop_txt {
    margin-top: min(0.1464128843vw, 2px);
    font-size: min(0.878477306vw, 12px);
  }
}

/* --------------------------------
  component
-------------------------------- */
.js_fadeUp_targer {
  opacity: 0;
}

/* --------------------------------
  kv
-------------------------------- */
.section_kv {
  height: 216.1333333333vw;
  background-image: url(../img/pic_kv_sm.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
@media (min-width: 768px) {
  .section_kv {
    height: 54.0995607613vw;
    background-image: url(../img/pic_kv_lg.jpg);
  }
}

.un_kv_txt_cont {
  position: absolute;
  top: calc(50% + 12vw);
  left: calc(50% + 1.0666666667vw);
  transform: translate(-50%, -50%);
}
@media (min-width: 768px) {
  .un_kv_txt_cont {
    top: calc(50% + 2.9282576867vw);
    left: calc(50% - 8.4919472914vw);
  }
}

.bl_kv_catch_txt {
  display: block;
  overflow: hidden;
}
.bl_kv_catch_txt > span {
  display: block;
  opacity: 0;
}

.bl_kv_catch_txt + .bl_kv_catch_txt {
  margin-top: 4.8vw;
}
@media (min-width: 768px) {
  .bl_kv_catch_txt + .bl_kv_catch_txt {
    margin-top: 1.317715959vw;
  }
}

.bl_kv_catch_txt_01 {
  width: 44.4vw;
}
@media (min-width: 768px) {
  .bl_kv_catch_txt_01 {
    width: 19.8389458272vw;
  }
}

.bl_kv_catch_txt_02 {
  width: 26.5333333333vw;
}
@media (min-width: 768px) {
  .bl_kv_catch_txt_02 {
    width: 35.5783308931vw;
  }
}

.bl_kv_catch_txt_03 {
  width: 52.8vw;
}

.un_kv_txt {
  opacity: 0;
  margin-top: 13.2vw;
  margin-left: -0.5333333333vw;
}
@media (min-width: 768px) {
  .un_kv_txt {
    margin-top: 2.9282576867vw;
    margin-left: 0;
  }
}

.un_kv_txt + .un_kv_txt {
  margin-top: 10.6666666667vw;
}
@media (min-width: 768px) {
  .un_kv_txt + .un_kv_txt {
    margin-top: min(2.7818448023vw, 38px);
  }
}

.un_kv_txt_01 {
  width: 85.8666666667vw;
}
@media (min-width: 768px) {
  .un_kv_txt_01 {
    width: 24.7437774524vw;
  }
}

.un_kv_txt_02 {
  width: 78.2666666667vw;
}
@media (min-width: 768px) {
  .un_kv_txt_02 {
    width: 37.4816983895vw;
  }
}

.un_kv_caution {
  opacity: 0;
  margin-top: 13.0666666667vw;
  padding-left: 0.6666666667vw;
  color: #fff;
}
@media (min-width: 768px) {
  .un_kv_caution {
    margin-top: 9.1508052709vw;
    padding-left: 0;
  }
}
.un_kv_caution .bl_caution_list {
  font-size: 2.6666666667vw;
  line-height: 1.8;
}
@media (min-width: 768px) {
  .un_kv_caution .bl_caution_list {
    font-size: min(0.8052708638vw, 11px);
    line-height: 1.4545454545;
  }
}

@media (min-width: 768px) {
  .un_kv_copy {
    position: absolute;
    z-index: 3;
    top: calc(50% - 7.6134699854vw);
    left: min(2.196193265vw, 30px);
    transform: translateY(-50%) rotate(90deg);
    transform-origin: left center;
    letter-spacing: 0.05em;
    color: #fff;
    font-size: min(0.7320644217vw, 10px);
  }
}

.un_scroll_down {
  display: flex;
  align-items: center;
  position: absolute;
  z-index: 3;
  top: calc(50% - 9.8666666667vw);
  right: 2vw;
  transform: translateY(-50%);

  writing-mode: vertical-rl;
}
@media (min-width: 768px) {
  .un_scroll_down {
    top: 50%;
    right: 1.6105417277vw;
  }
}

.un_scroll_down_txt {
  margin-bottom: 1.6vw;
  color: #fff;
  font-size: 2.1333333333vw;
  line-height: 1;
}
@media (min-width: 768px) {
  .un_scroll_down_txt {
    margin-bottom: min(0.7320644217vw, 10px);
    font-size: min(0.7320644217vw, 10px);
  }
}

.un_scroll_down_line {
  position: relative;
  width: 1px;
  height: 11.4666666667vw;
}
@media (min-width: 768px) {
  .un_scroll_down_line {
    height: min(5.8565153734vw, 80px);
  }
}
.un_scroll_down_line > div {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100%;
  -webkit-animation: scroll_down 2s cubic-bezier(0.19, 1, 0.22, 1) infinite;
          animation: scroll_down 2s cubic-bezier(0.19, 1, 0.22, 1) infinite;
  background-color: #fff;
}

@-webkit-keyframes scroll_down {
  0% {
    top: auto;
    bottom: 0;
    height: 100%;
  }
  50% {
    top: auto;
    bottom: 0%;
    height: 0;
  }
  51% {
    top: 0;
    bottom: auto;
    height: 0;
  }
  99%,
  100% {
    top: 0;
    bottom: auto;
    height: 100%;
  }
}

@keyframes scroll_down {
  0% {
    top: auto;
    bottom: 0;
    height: 100%;
  }
  50% {
    top: auto;
    bottom: 0%;
    height: 0;
  }
  51% {
    top: 0;
    bottom: auto;
    height: 0;
  }
  99%,
  100% {
    top: 0;
    bottom: auto;
    height: 100%;
  }
}
.bl_introduction {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 14.6666666667vw;
  padding-bottom: 15.2vw;
  background-color: #26361c;
}
@media (min-width: 768px) {
  .bl_introduction {
    padding-top: min(5.4172767204vw, 74px);
    padding-bottom: min(5.4172767204vw, 74px);
  }
}
.bl_introduction .un_introduction_link {
  display: inline-flex;
  align-items: flex-end;
  padding: 3.2vw 5.3333333333vw 2.4vw;
  border: 1px solid #fff;
  text-align: center;
}
@media (min-width: 768px) {
  .bl_introduction .un_introduction_link {
    align-items: center;
    padding: min(0.6588579795vw, 9px) min(1.1713030747vw, 16px) min(0.6588579795vw, 9px);
  }
  .bl_introduction .un_introduction_link:hover .un_introduction_link_txt {
    opacity: 0.6;
  }
  .bl_introduction .un_introduction_link:hover .el_circle_deg svg path {
    -webkit-animation: circle_deg 0.4s ease-out;
            animation: circle_deg 0.4s ease-out;
  }
  .bl_introduction .un_introduction_link:hover .el_arrow_deg svg {
    -webkit-animation: move_arrow_deg 0.9s cubic-bezier(0.25, 0.46, 0.45, 0.94);
            animation: move_arrow_deg 0.9s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  }
}
.bl_introduction .un_introduction_link_txt {
  display: inline-block;
  margin-right: 2.1333333333vw;
  transition: opacity 0.3s linear;
  color: #fff;
  font-size: 4vw;
  line-height: 1.3333333333;
}
@media (min-width: 768px) {
  .bl_introduction .un_introduction_link_txt {
    margin-right: min(0.7320644217vw, 10px);
    font-size: min(1.1713030747vw, 16px);
    line-height: 1.875;
  }
}
.bl_introduction .el_link_icon {
  position: relative;
  width: 4.6666666667vw;
}
@media (min-width: 768px) {
  .bl_introduction .el_link_icon {
    width: min(1.4641288433vw, 20px);
  }
}
@media (min-width: 768px) {
  .bl_introduction .el_circle_deg {
    position: relative;
    top: min(0.0732064422vw, 1px);
  }
  .bl_introduction .el_circle_deg svg {
    width: min(1.4641288433vw, 20px);
    height: min(1.4641288433vw, 20px);
  }
}
@media (min-width: 768px) {
  .bl_introduction .el_arrow_deg {
    top: calc(50% + min(0.1464128843vw, 2px));
  }
  .ff .bl_introduction .el_arrow_deg {
    top: calc(50% + min(0.2196193265vw, 3px));
  }
  .bl_introduction .el_arrow_deg svg {
    width: min(0.2928257687vw, 4px);
    height: min(0.2928257687vw, 4px);
  }
}

/* --------------------------------
  バイオラショナルへの取組み
-------------------------------- */
.section_biorational {
  padding-top: 29.3333333333vw;
  padding-bottom: 26.9333333333vw;
}
@media (min-width: 768px) {
  .section_biorational {
    padding-top: min(13.9092240117vw, 190px);
    padding-bottom: min(12.8843338214vw, 176px);
  }
}

.un_biorational_section_ttl {
  width: 55.4666666667vw;
}
@media (min-width: 768px) {
  .un_biorational_section_ttl {
    width: min(33.6749633968vw, 460px);
  }
}

.un_biorational_ttl_sm {
  width: 35.2vw;
}
@media (min-width: 768px) {
  .un_biorational_ttl_sm {
    width: min(12.8843338214vw, 176px);
  }
}

.un_section_ttl_bg_biorational {
  margin-top: -21.3333333333vw;
  width: 76vw;
  height: 29.0666666667vw;
  background-color: #7fba44;
}
@media (min-width: 768px) {
  .un_section_ttl_bg_biorational {
    margin-top: max(-2.7818448023vw, -38px);
    width: min(58.5651537335vw, 800px);
    height: min(5.4172767204vw, 74px);
  }
}

.un_biorational_contents {
  margin-top: 12vw;
}
@media (min-width: 768px) {
  .un_biorational_contents {
    margin-top: min(4.9780380673vw, 68px);
  }
}

.un_biorational_contents_ttl_cont > .bl_contents_ttl {
  white-space: nowrap;
}

.bl_biorational_img_three_blocks_wrapper {
  margin-top: 6.6666666667vw;
}
@media (min-width: 768px) {
  .bl_biorational_img_three_blocks_wrapper {
    margin-top: min(2.196193265vw, 30px);
  }
}

.un_biorational_txt_cont {
  margin-top: 4vw;
}
@media (min-width: 768px) {
  .un_biorational_txt_cont {
    margin-top: min(1.6105417277vw, 22px);
  }
}

/* --------------------------------
  BT剤について
-------------------------------- */
.section_bt_agent {
  padding-top: 25.3333333333vw;
  padding-bottom: 26.6666666667vw;
  background-color: #bad3d7;
}
@media (min-width: 768px) {
  .section_bt_agent {
    padding-top: min(11.5666178624vw, 158px);
    padding-bottom: min(12.8843338214vw, 176px);
  }
}

.un_bt_agent_ttl {
  width: 69.0666666667vw;
}
@media (min-width: 768px) {
  .un_bt_agent_ttl {
    width: min(51.0980966325vw, 698px);
  }
}

.un_bt_agent_ttl_sm {
  width: 65.3333333333vw;
}
@media (min-width: 768px) {
  .un_bt_agent_ttl_sm {
    width: min(23.9385065886vw, 327px);
  }
}

.un_section_ttl_bg_bt_agent {
  margin-top: -28.2666666667vw;
  width: 76vw;
  height: 35.7333333333vw;
  background-color: #00a5cf;
}
@media (min-width: 768px) {
  .un_section_ttl_bg_bt_agent {
    margin-top: max(-2.9282576867vw, -40px);
    width: min(58.5651537335vw, 800px);
    height: min(5.4172767204vw, 74px);
  }
}

.un_bt_agent_contents {
  margin-top: 13.6vw;
}
@media (min-width: 768px) {
  .un_bt_agent_contents {
    margin-top: min(5.8565153734vw, 80px);
  }
}

.un_bt_agents {
  margin-top: 1.3333333333vw;
}
@media (min-width: 768px) {
  .un_bt_agents {
    margin-top: min(0.6588579795vw, 9px);
  }
}
.un_bt_agents .bl_caution_list {
  line-height: 1.5238095238;
}

.un_bt_agent_txt_cont {
  margin-top: 3.2vw;
}
@media (min-width: 768px) {
  .un_bt_agent_txt_cont {
    margin-top: min(0.2928257687vw, 4px);
  }
}

/* --------------------------------
  BT製品紹介
-------------------------------- */
.section_bt_products {
  padding-top: 25.3333333333vw;
  padding-bottom: 30.6666666667vw;
}
@media (min-width: 768px) {
  .section_bt_products {
    padding-top: min(11.5666178624vw, 158px);
    padding-bottom: min(14.2752562225vw, 195px);
  }
}

.un_bt_products_ttl {
  width: 49.0666666667vw;
}
@media (min-width: 768px) {
  .un_bt_products_ttl {
    width: min(17.8623718887vw, 244px);
  }
}

.un_bt_products_ttl_sm {
  margin-top: 3.7333333333vw;
  width: 50.4vw;
}
@media (min-width: 768px) {
  .un_bt_products_ttl_sm {
    margin-top: min(0.878477306vw, 12px);
    width: min(18.4480234261vw, 252px);
  }
}

.un_section_ttl_bg_bt_products {
  margin-top: -11.4666666667vw;
  width: 76vw;
  height: 18.5333333333vw;
  background-color: #7fba44;
}
@media (min-width: 768px) {
  .un_section_ttl_bg_bt_products {
    margin-top: max(-2.9282576867vw, -40px);
    width: min(58.5651537335vw, 800px);
    height: min(5.4172767204vw, 74px);
  }
}

.un_bt_products_three_item_list {
  margin-top: 12vw;
}
@media (min-width: 768px) {
  .un_bt_products_three_item_list {
    margin-top: min(5.710102489vw, 78px);
  }
}

@media (min-width: 768px) {
  .bl_bt_products_item {
    width: min(22.2547584187vw, 304px);
  }
}

.bl_bt_products_item + .bl_bt_products_item {
  margin-top: 19.4666666667vw;
}
@media (min-width: 768px) {
  .bl_bt_products_item + .bl_bt_products_item {
    margin-top: 0;
  }
}

.bl_bt_products_name {
  font-size: 5.3333333333vw;
  font-weight: bold;
  line-height: 1.7;
}
@media (min-width: 768px) {
  .bl_bt_products_name {
    font-size: min(1.9033674963vw, 26px);
    line-height: 1.2307692308;
  }
}

.bl_bt_products_link {
  display: block;
  text-decoration: none;
}
.bl_bt_products_link > span {
  display: block;
}
@media (min-width: 768px) {
  .bl_bt_products_link:hover {
    cursor: pointer;
  }
  .bl_bt_products_link:hover img {
    transform: scale(1.04);
  }
  .bl_bt_products_link:hover .link_txt {
    opacity: 0.6;
  }
  .bl_bt_products_link:hover .el_circle_deg svg path {
    -webkit-animation: circle_deg 0.4s ease-out;
            animation: circle_deg 0.4s ease-out;
  }
  .bl_bt_products_link:hover .el_arrow_deg svg {
    -webkit-animation: move_arrow_deg 0.9s cubic-bezier(0.25, 0.46, 0.45, 0.94);
            animation: move_arrow_deg 0.9s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  }
}

.bl_bt_products_list_img {
  overflow: hidden;
  margin-top: 2.1333333333vw;
}
@media (min-width: 768px) {
  .bl_bt_products_list_img {
    margin-top: min(1.0248901903vw, 14px);
  }
}
.bl_bt_products_list_img img {
  transition: transform 0.3s ease;
}

.bl_bt_products_link_cont {
  margin-top: 5.6vw;
}
@media (min-width: 768px) {
  .bl_bt_products_link_cont {
    margin-top: min(2.0497803807vw, 28px);
  }
}

/* --------------------------------
  modal
-------------------------------- */
/*# sourceMappingURL=top.css.map */