@charset "UTF-8";

/*
* top.css
*
*/

// Common Settings
@use "global" as *;

$path: "../img/";

/* --------------------------------
  base
-------------------------------- */
.un_wrapper {
  position: relative;
}

.ly_cont {
  margin-right: auto;
  margin-left: auto;
  width: vw(654);

  @include breakpoint-up(md) {
    padding-right: liq(100);
    padding-left: liq(100);
    width: liq(1200);
  }
}

.section {
  position: relative;
}

.hp_palt {
  font-feature-settings: 'palt';
}


/* --------------------------------
  global
-------------------------------- */
.ly_header {
  display: flex;
  align-items: center;
  height: vw(100);

  @include breakpoint-up(md) {
    height: liq(60);
  }
}

.un_header_inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: vw(48);
  margin-left: vw(48);
  width: 100%;

  @include breakpoint-up(md) {
    margin-right: liq(183);
    margin-left: liq(183);
  }
}

.bl_header_logo {
  > a {
    display: block;
    transition: opacity 0.1s linear;

    &:hover {
      @include breakpoint-up(md) {
        opacity: 0.8;
      }
    }
  }
}

.un_header_logo_natural_products {
  margin-top: vw(-4);
  width: vw(138);

  @include breakpoint-up(md) {
    margin-top: 0;
    width: liq(100);
  }
}

.un_header_logo_sumitomo_chemical {
  margin-top: vw(-4);
  width: vw(218);

  @include breakpoint-up(md) {
    margin-top: liq(-2);
    width: liq(141);
  }
}

.ly_footer {
  text-align: center;
}

.un_footer_head {
  padding-top: vw(94);
  padding-bottom: vw(100);
  border-top: 1px solid #ddd;

  @include breakpoint-up(md) {
    padding-top: liq(28);
    padding-bottom: liq(28);
  }
}

.un_footer_nav_ul {
  @include breakpoint-up(md) {
    display: flex;
    justify-content: center;
  }
}

.bl_footer_nav_list {
  position: relative;

  @include breakpoint-up(md) {
    margin-right: liq(30);
    margin-left: liq(30);

    &::before {
      content: "";
      display: block;
      position: absolute;
      top: calc(50% - liq(1));
      left: liq(-32);
      transform: translateY(-50%);
      width: 1px;
      height: liq(13);
      background-color: #333;
    }

    &:last-child {
      &::before {
        left: liq(-30);
      }
      &::after {
        content: "";
        display: block;
        position: absolute;
        top: calc(50% - liq(1));
        right: liq(-32);
        transform: translateY(-50%);
        width: 1px;
        height: liq(13);
        background-color: #333;
      }
    }
  }
}

.bl_footer_nav_list+.bl_footer_nav_list {
  margin-top: vw(60);

  @include breakpoint-up(md) {
    margin-top: 0;
  }
}

.footer_nav_link {
  display: block;
  font-size: vw(28);
  line-height: lh(28, 32);
  text-underline-offset: vw(12);
  transition: opacity 0.3s linear;

  @include breakpoint-up(md) {
    font-size: liq(14);
    line-height: lh(14, 32);
    text-underline-offset: liq(4);
    text-decoration: none;

    &:hover {
      opacity: 0.6;
    }
  }
}

.un_footer_bottom {
  padding-bottom: vw(96);
  background-color: #eee;

  @include breakpoint-up(md) {
    padding-top: liq(10);
    padding-bottom: liq(14);
  }
}

.un_footer_copy {
  margin-left: vw(-52);
  font-size: 10px;
  line-height: 1;

  @include breakpoint-up(md) {
    margin-left: 0;
    font-size: liq(12);
  }
}


.un_pagetop {
  position: fixed;
  z-index: 5;
  right: vw(20);
  bottom: vw(20);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: vw(28) vw(50) vw(24);
  text-align: center;
  text-decoration: none;
  background-color: rgba($color-dark-blue, 0.3);
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s linear, visibility 0.3s linear;

  @include breakpoint-up(md) {
    bottom: liq(25);
    right: liq(25);
    margin-right: liq(-7);
    padding: liq(14) liq(25) liq(12);
  }

  &.is-show {
    opacity: 1;
    visibility: visible;
  }

  &.absolute {
    position: absolute;
  }

  &:hover {
    @include breakpoint-up(md) {
      .un_pagetop_circle {
        animation: pagetop_circle 0.4s ease-out;
      }

      .un_pagetop_arrow {
        svg {
          animation: move_arrow_top 0.9s $easeOutQuad;
        }
      }

      .un_pagetop_txt {
        opacity: 0.6;
      }
    }
  }

  > span {
    display: flex;
    justify-content: center;
  }
}

.un_pagetop_icon {
  position: relative;
}

.un_pagetop_circle {
  display: flex;
  width: vw(36);
  height: vw(36);

  @include breakpoint-up(md) {
    width: liq(18);
    height: liq(18);
  }

  svg {
    width: inherit;
    height: inherit;
    overflow: visible;
  }
}

.un_pagetop_arrow {
  display: flex;
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 1;
  transform: translate(-50%, -50%);
  width: vw(12);
  height: vw(14);

  @include breakpoint-up(md) {
    width: liq(8);
    height: liq(10);
  }

  svg {
    width: inherit;
    height: inherit;
  }
}

.un_pagetop_txt {
  margin-top: vw(6);
  font-size: vw(24);
  line-height: lh(24, 32);
  color: $color-white;
  transition: opacity 0.3s linear;

  @include breakpoint-up(md) {
    margin-top: liq(2);
    font-size: liq(12);
  }
}

/* --------------------------------
  component
-------------------------------- */

.js_fadeUp_targer {
  opacity: 0;
}

/* --------------------------------
  kv
-------------------------------- */
.section_kv {
  height: vw(1621);
  background-image: url(#{$path}pic_kv_sm.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  @include breakpoint-up(md) {
    height: vw(739, 1366);
    background-image: url(#{$path}pic_kv_lg.jpg);
  }
}

.un_kv_txt_cont {
  position: absolute;
  top: calc(50% + vw(90));
  left: calc(50% + vw(8));
  transform: translate(-50%, -50%);

  @include breakpoint-up(md) {
    top: calc(50% + vw(40, 1366));
    left: calc(50% - vw(116, 1366));
  }
}

.bl_kv_catch_txt {
  display: block;
  overflow: hidden;

  > span {
    display: block;
    opacity: 0;
  }
}

.bl_kv_catch_txt+.bl_kv_catch_txt {
  margin-top: vw(36);

  @include breakpoint-up(md) {
    margin-top: vw(18, 1366);
  }
}

.bl_kv_catch_txt_01 {
  width: vw(333);

  @include breakpoint-up(md) {
    width: vw(271, 1366);
  }
}

.bl_kv_catch_txt_02 {
  width: vw(199);

  @include breakpoint-up(md) {
    width: vw(486, 1366);
  }
}

.bl_kv_catch_txt_03 {
  width: vw(396);
}

.un_kv_txt {
  margin-top: vw(99);
  margin-left: vw(-4);
  opacity: 0;

  @include breakpoint-up(md) {
    margin-top: vw(40, 1366);
    margin-left: 0;
  }
}

.un_kv_txt+.un_kv_txt {
  margin-top: vw(80);

  @include breakpoint-up(md) {
    margin-top: liq(38);
  }
}

.un_kv_txt_01 {
  width: vw(644);

  @include breakpoint-up(md) {
    width: vw(338, 1366);
  }
}

.un_kv_txt_02 {
  width: vw(587);

  @include breakpoint-up(md) {
    width: vw(512, 1366);
  }
}

.un_kv_caution {
  margin-top: vw(98);
  padding-left: vw(5);
  color: #fff;
  opacity: 0;

  @include breakpoint-up(md) {
    margin-top: vw(125, 1366);
    padding-left: 0;
  }

  .bl_caution_list {
    font-size: vw(20);
    line-height: lh(20, 36);

    @include breakpoint-up(md) {
      font-size: liq(11);
      line-height: lh(11, 16);
    }
  }
}

.un_kv_copy {
  @include breakpoint-up(md) {
    position: absolute;
    z-index: 3;
    top: calc(50% - vw(104, 1366));
    left: liq(30);
    transform: translateY(-50%) rotate(90deg);
    transform-origin: left center;
    font-size: liq(10);
    color: #fff;
    letter-spacing: ls(50);
  }
}

.un_scroll_down {
  display: flex;
  align-items: center;
  position: absolute;
  z-index: 3;
  top: calc(50% - vw(74));
  right: vw(15);
  transform: translateY(-50%) ;
  writing-mode: vertical-rl;

  @include breakpoint-up(md) {
    top: 50%;
    right: vw(22, 1366);
  }
}

.un_scroll_down_txt {
  margin-bottom: vw(12);
  font-size: vw(16);
  line-height: 1;
  color: #fff;

  @include breakpoint-up(md) {
    margin-bottom: liq(10);
    font-size: liq(10);
  }
}

.un_scroll_down_line {
  position: relative;
  width: 1px;
  height: vw(86);

  @include breakpoint-up(md) {
    height: liq(80);
  }

  > div {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100%;
    animation: scroll_down 2s $easeOutExpo infinite;
    background-color: #fff;
  }
}

@keyframes scroll_down {
  0% {
    top: auto;
    bottom: 0;
    height: 100%;
  }
  50% {
    top: auto;
    bottom: 0%;
    height: 0;
  }
  51% {
    top: 0;
    bottom: auto;
    height: 0;
  }
  99%,
  100% {
    top: 0;
    bottom: auto;
    height: 100%;
  }
}


.bl_introduction {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: vw(110);
  padding-bottom: vw(110);
  background-color: #26361C;

  @include breakpoint-up(md) {
    padding-top: liq(74);
    padding-bottom: liq(74);
  }

  .un_introduction_link {
    display: inline-flex;
    align-items: flex-end;
    padding: vw(22) vw(40) vw(20);
    text-align: center;
    border: 1px solid #fff;

    @include breakpoint-up(md) {
      align-items: center;
      padding: liq(9) liq(16);

      &:hover {
        .un_introduction_link_txt {
          opacity: 0.6;
        }

        .el_circle_deg {
          svg path {
            animation: circle_deg 0.4s ease-out;
          }
        }

        .el_arrow_deg {
          svg {
            animation: move_arrow_deg 0.9s $easeOutQuad;
          }
        }
      }
    }
  }

  .un_introduction_link_txt {
    display: inline-block;
    margin-right: vw(16);
    font-size: vw(30);
    line-height: lh(30, 40);
    color: #fff;
    transition: opacity 0.3s linear;

    @include breakpoint-up(md) {
      margin-right: liq(10);
      font-size: liq(16);
      line-height: lh(16, 30);
    }

    > span {
      display: inline-block;
      margin-left: vw(50);

      @include breakpoint-up(md) {
        margin-left: 0;
      }
    }
  }

  .el_link_icon {
    margin-bottom: vw(8);

    @include breakpoint-up(md) {
      margin-bottom: 0;
    }
  }

  .el_circle_deg {
    @include breakpoint-up(md) {
      position: relative;
      width: liq(20);
      height: liq(20);
    }
  }

  .el_arrow_deg {
    width: vw(9);
    height: vw(9);

    @include breakpoint-up(md) {
      width: liq(4);
      height: liq(4);
    }
  }
}


/* --------------------------------
  バイオラショナルへの取組み
-------------------------------- */
.section_biorational {
  padding-top: vw(220);
  padding-bottom: vw(202);

  @include breakpoint-up(md) {
    padding-top: liq(190);
    padding-bottom: liq(176);
  }
}

.un_biorational_section_ttl {
  width: vw(416);

  @include breakpoint-up(md) {
    width: liq(460);
  }
}

.un_biorational_ttl_sm {
  width: vw(264);

  @include breakpoint-up(md) {
    width: liq(176);
  }
}

.un_section_ttl_bg_biorational {
  margin-top: vw(-160);
  width: vw(570);
  height: vw(218);
  background-color: $color-light-green;

  @include breakpoint-up(md) {
    margin-top: liq(-38);
    width: liq(800);
    height: liq(74);
  }
}

.un_biorational_contents {
  margin-top: vw(90);

  @include breakpoint-up(md) {
    margin-top: liq(68);
  }
}

.un_biorational_contents_ttl_cont {

  >.bl_contents_ttl {
    white-space: nowrap;
  }
}

.bl_biorational_img_three_blocks_wrapper {
  margin-top: vw(50);

  @include breakpoint-up(md) {
    margin-top: liq(30);
  }
}

.un_biorational_txt_cont {
  margin-top: vw(30);

  @include breakpoint-up(md) {
    margin-top: liq(22);
  }
}

/* --------------------------------
  BT剤について
-------------------------------- */

.section_bt_agent {
  padding-top: vw(190);
  padding-bottom: vw(200);
  background-color: $color-light-cyan;

  @include breakpoint-up(md) {
    padding-top: liq(158);
    padding-bottom: liq(176);
  }
}

.un_bt_agent_ttl {
  width: vw(518);

  @include breakpoint-up(md) {
    width: liq(698);
  }
}

.un_bt_agent_ttl_sm {
  width: vw(490);

  @include breakpoint-up(md) {
    width: liq(327);
  }
}

.un_section_ttl_bg_bt_agent {
  margin-top: vw(-212);
  width: vw(570);
  height: vw(268);
  background-color: $color-cyan;

  @include breakpoint-up(md) {
    margin-top: liq(-40);
    width: liq(800);
    height: liq(74);
  }
}

.un_bt_agent_contents {
  margin-top: vw(102);

  @include breakpoint-up(md) {
    margin-top: liq(80);
  }
}

.un_bt_agents {
  margin-top: vw(10);

  @include breakpoint-up(md) {
    margin-top: liq(9);
  }

  .bl_caution_list {
    line-height: lh(21, 32);
  }
}

.un_bt_agent_txt_cont {
  margin-top: vw(24);

  @include breakpoint-up(md) {
    margin-top: liq(4);
  }
}


/* --------------------------------
  BT製品紹介
-------------------------------- */

.section_bt_products {
  padding-top: vw(190);
  padding-bottom: vw(230);

  @include breakpoint-up(md) {
    padding-top: liq(158);
    padding-bottom: liq(195);
  }
}

.un_bt_products_ttl {
  width: vw(368);

  @include breakpoint-up(md) {
    width: liq(244);
  }
}

.un_bt_products_ttl_sm {
  margin-top: vw(28);
  width: vw(378);

  @include breakpoint-up(md) {
    margin-top: liq(12);
    width: liq(252);
  }
}

.un_section_ttl_bg_bt_products {
  margin-top: vw(-86);
  width: vw(570);
  height: vw(139);
  background-color: $color-light-green;

  @include breakpoint-up(md) {
    margin-top: liq(-40);
    width: liq(800);
    height: liq(74);
  }
}

.un_bt_products_three_item_list {
  margin-top: vw(90);

  @include breakpoint-up(md) {
    margin-top: liq(78);
  }
}

.bl_bt_products_item {
  @include breakpoint-up(md) {
    width: liq(304);
  }
}

.bl_bt_products_item+.bl_bt_products_item {
  margin-top: vw(146);

  @include breakpoint-up(md) {
    margin-top: 0;
  }
}

.bl_bt_products_name {
  font-size: vw(40);
  line-height: lh(40, 68);
  font-weight: bold;

  @include breakpoint-up(md) {
    font-size: liq(26);
    line-height: lh(26, 32);
  }
}

.bl_bt_products_link {
  display: block;
  text-decoration: none;

  > span {
    display: block;
  }

  @include breakpoint-up(md) {
    &:hover {
      cursor: pointer;

      img {
        transform: scale(1.04);
      }

      .link_txt {
        opacity: 0.6;
      }

      .el_circle_deg {
        svg path {
          animation: circle_deg 0.4s ease-out;
        }
      }

      .el_arrow_deg {
        svg {
          animation: move_arrow_deg 0.9s $easeOutQuad;
        }
      }
    }
  }
}

.bl_bt_products_list_img {
  margin-top: vw(16);
  overflow: hidden;

  @include breakpoint-up(md) {
    margin-top: liq(14);
  }

  img {
    transition: transform 0.3s ease;
  }
}

.bl_bt_products_link_cont {
  margin-top: vw(42);

  @include breakpoint-up(md) {
    margin-top: liq(28);
  }
}

/* --------------------------------
  modal
-------------------------------- */
// .bl_video_modal {
//   display: none;
//   position: fixed;
//   z-index: 10;
//   top: 0;
//   left: 0;
//   width: 100%;
//   height: 100%;
//   pointer-events: none;

//   &.is-open {
//     display: flex;
//     align-items: center;
//     justify-content: center;
//     background-color: rgba($color-black, 0.9);
//     pointer-events: auto;
//   }

//   .bl_video_modal_inner {
//     display: flex;
//     align-items: center;
//     margin-top: vw(-64);
//     width: vw(654);

//     @include breakpoint-up(md) {
//       margin-top: 0;
//       width: liq(1200);
//     }

//     @media screen and (max-height: 800px) and (min-width: 768px) {
//       width: auto;
//     }
//   }

//   .bl_video_modal_contents {
//     width: 100%;

//     @media screen and (max-height: 800px) and (min-width: 768px) {
//       width: 100vh;
//     }
//   }

//   .bl_video_modal_head {
//     display: flex;
//     justify-content: center;
//     position: relative;
//     margin-right: auto;
//     margin-left: auto;
//     height: vw(64);

//     @include breakpoint-up(md) {
//       margin-bottom: liq(16);
//       height: liq(42);
//     }

//     @media screen and (max-height: 800px) and (min-width: 768px) {
//       width: 100%;
//     }
//   }

//   // スライダー
//   .splide__arrows{
//     position: relative;
//     z-index: 1;
//     top: auto;
//     left: auto;
//     display: flex;
//     align-items: center;
//     width: vw(308);
//     transform: translate(0, 0);

//     @include breakpoint-up(md) {
//       width: liq(198);
//     }
//   }

//   .bl_video_modal_slide_pagination {
//     display: flex;
//     align-items: center;
//     position: absolute;
//     top: 50%;
//     transform: translateY(-50%);
//     color: $color-white;
//     font-size: vw(24);
//     line-height: 1;

//     @include breakpoint-up(md) {
//       font-size: liq(20);
//     }

//     > span {
//       margin-right: liq(8);
//       margin-left: liq(8);
//     }
//   }

//   .bl_video_modal_close {
//     display: flex;
//     align-items: center;
//     justify-content: center;
//     position: absolute;
//     top: 50%;
//     right: vw(-8);
//     transform: translateY(-50%);
//     padding: vw(10);
//     width: vw(46);
//     height: vw(46);

//     @include breakpoint-up(md) {
//       right: liq(4);
//       padding: liq(5);
//       width: liq(47);
//       height: liq(47);
//     }
//   }

//   .bl_video_container {
//     position: relative;
//     width: 100%;
//     height: vw(368);

//     @include breakpoint-up(md) {
//       height: liq(677);
//     }

//     @media screen and (max-height: 800px) and (min-width: 768px) {
//       height: auto;
//     }
//   }

//   .bl_video_modal_splide_track {
//     display: flex;
//     justify-content: center;
//     width: 100%;
//     height: 100%;
//   }

//   .bl_video_modal_slide {
//     @include breakpoint-up(md) {
//       height: 100%;
//     }

//     @media screen and (max-height: 800px) and (min-width: 768px) {
//       margin-right: auto !important;
//       margin-left: auto !important;
//       height: 0;
//       padding-top: 56.25%;
//     }
//   }

//   video {
//     width: 100%;
//     height: 100%;

//     &[poster]{
//       height:100%;
//       width:100%;
//       object-fit: cover;
//     }

//     @media screen and (max-height: 800px) and (min-width: 768px) {
//       position: absolute;
//       top: 0;
//       left: 0;
//     }
//   }
// }

// @keyframes mmfadeIn {
//   0% {
//     opacity: 0;
//   }
//   100% {
//     opacity: 1;
//   }
// }

// @keyframes mmfadeOut {
//   0% {
//     opacity: 1;
//   }
//   100% {
//     opacity: 0;
//   }
// }


// .bl_video_modal[aria-hidden="false"] {
//   animation: mmfadeIn .4s ease;
// }

// .bl_video_modal[aria-hidden="true"] {
//   animation: mmfadeOut .4s ease;
// }

// .bl_video_modal {
//   will-change: transform;
// }