@use "global" as *;

$path: "../img/";
/* --------------------------------
  keyframes
-------------------------------- */

@keyframes circle_deg {
  0% {
    stroke-dasharray: 61px;
    stroke-dashoffset: 61px;
  }
  100% {
    stroke-dasharray: 61px;
    stroke-dashoffset: 0;
  }
}

@keyframes pagetop_circle {
  0% {
    stroke-dasharray: 98px;
    stroke-dashoffset: 98px;
  }
  100% {
    stroke-dasharray: 98px;
    stroke-dashoffset: 0;
  }
}

@keyframes move_arrow_deg {
  0% {
    opacity: 0;
    transform: translate(0, 0);
  }
  16% {
    opacity: 1;
  }
  33% {
    opacity: 0;
    transform: translate(3px, -3px);
  }
  49%{
    opacity: 0;
    transform: translate(-3px, 3px);
  }
  66% {
    opacity: 1;
  }
  100% {
    opacity: 1;
    transform: translate(0, 0);
  }
}

@keyframes move_arrow_right {
  0% {
    opacity: 0;
    transform: translateX(0);
  }
  16% {
    opacity: 1;
  }
  33% {
    opacity: 0;
    transform: translateX(3px);
  }
  49%{
    opacity: 0;
    transform: translateX(-3px);
  }
  66% {
    opacity: 1;
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes move_arrow_top {
  0% {
    opacity: 0;
    transform: translateY(0);
  }
  16% {
    opacity: 1;
  }
  33% {
    opacity: 0;
    transform: translateY(-3px);
  }
  49%{
    opacity: 0;
    transform: translateY(3px);
  }
  66% {
    opacity: 1;
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

// section_ttl
.bl_section_ttl_cont {

  &::after {
    content: "";
    display: block;
    z-index: 1;
    margin-right: auto;
    margin-left: auto;
    margin-top: vw(calc(-64 / 2));
    width: 1px;
    height: vw(64);
    background-color: $color-black;

    @include breakpoint-up(md) {
      margin-top: liq(calc(-40 / 2));
      height: liq(40);
    }
  }
}

.bl_section_ttl {
  margin-right: auto;
  margin-left: auto;
  font-size: 0;
}

.bl_section_ttl_sm {
  margin-top: vw(40);
  margin-right: auto;
  margin-left: auto;
  font-size: 0;

  @include breakpoint-up(md) {
    margin-top: liq(12);
  }
}

.bl_section_ttl_bg {
  margin-right: auto;
  margin-left: auto;
}

// テキストコンテンツ
.bl_txt_cont {
  .bl_txt {
    font-size: vw(25);
    line-height: lh(25, 48);

    @include breakpoint-up(md) {
      font-size: liq(14);
      line-height: lh(14, 30);
    }
  }
}

.bl_contents_ttl_cont {
  font-weight: bold;
}

.bl_contents_ttl {
  position: relative;
  padding-left: vw(28);
  font-size: vw(40);
  line-height: lh(40, 66);

  @include breakpoint-up(md) {
    padding-left: liq(30);
    font-size: liq(30);
    line-height: lh(30, 52);
  }

  &::before {
    content: "";
    display: block;
    position: absolute;
    top: vw(-6);
    left: 0;
    z-index: 1;
    width: vw(52);
    height: vw(52);
    background-image: url(#{$path}icon_contents_ttl.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    @include breakpoint-up(md) {
      top: 0;
      width: liq(42);
      height: liq(42);
    }
  }
}

// images
.bl_imgWrapper {
  img {
    width: 100%;
    max-width: 100%;
    height: auto;
    pointer-events: none;
  }
}

// video
.bl_videoWrapper {
  position: relative;
  overflow: hidden;

  &::after {
    content: "";
    display: block;
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: vw(181);
    height: vw(181);
    background-image: url(#{$path}icon_play_sm.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    @include breakpoint-up(md) {
      width: liq(111);
      height: liq(111);
      background-image: url(#{$path}icon_play_lg.png);
    }
  }

  img {
    transition: transform 0.3s ease;
  }

  @include breakpoint-up(md) {
    &:hover {
      cursor: pointer;

      img {
        transform: scale(1.04);
      }
    }
  }
}

// リンク
.bl_link {
  display: inline-flex;
  align-items: center;
  position: relative;
  margin: vw(-8);
  padding: vw(8);
  font-size: vw(32);
  font-weight: bold;
  text-decoration: none;

  @include breakpoint-up(md) {
    margin: liq(-8);
    padding: liq(8);
    font-size: liq(20);
    line-height: lh(20, 35);
  }

  &::after {
    content: "";
    display: block;
    position: absolute;
    bottom: vw(2);
    left: 0;
    margin-left: vw(8);
    width: calc(100% - vw(16));
    height: 1px;
    background-color: $color-gray;

    @include breakpoint-up(md) {
      bottom: liq(4);
      left: 0;
      margin-left: liq(8);
      width: calc(100% - liq(16));
    }
  }

  @include breakpoint-up(md) {
    &:hover {
      .link_txt {
        opacity: 0.6;
      }

      .el_circle_deg {
        svg path {
          animation: circle_deg 0.4s ease-out;
        }
      }

      .el_arrow_deg {
        svg {
          animation: move_arrow_deg 0.9s $easeOutQuad;
        }
      }
    }
  }
}

.link_txt {
  margin-right: vw(24);
  transition: opacity 0.3s linear;

  @include breakpoint-up(md) {
    margin-right: liq(8);
  }
}

.el_link_icon {
  position: relative;
  margin-top: vw(-4);
  width: vw(36);

  @include breakpoint-up(md) {
    margin-top: liq(-4);
    width: liq(22);
  }
}

.el_circle_deg {
  svg {
    width: vw(34);
    height: vw(34);

    @include breakpoint-up(md) {
      width: liq(22);
      height: liq(22);
    }
  }
}

.el_arrow_deg {
  display: flex;
  position: absolute;
  top: calc(50% + vw(2));
  left: 50%;
  transform: translate(-50%, -50%);

  @include breakpoint-up(md) {
    top: calc(50% + liq(2));
  }

  svg {
    width: vw(10);
    height: vw(10);

    @include breakpoint-up(md) {
      width: liq(6);
      height: liq(6);
    }
  }
}

.el_arrow_right {
  position: absolute;
  top: calc(50%);
  left: 50%;
  transform: translate(-50%, -50%);

  svg {
    width: vw(13);
    height: vw(11);

    @include breakpoint-up(md) {
      width: liq(8);
      height: liq(7);
    }
  }
}

.bl_img_three_blocks {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.bl_img_three_blocks_item {
  flex-shrink: 0;
  width: 100%;

  @include breakpoint-up(md) {
    width: liq(304);
  }

  &:not(:first-child) {
    @include breakpoint-down(sm) {
      margin-top: vw(24);
      width: vw(312);
    }
  }
}

.bl_three_item_list {
  @include breakpoint-up(md) {
    display: flex;
    justify-content: space-between;
  }
}


// 注意書き
.bl_caution {
  .bl_caution_list {
    display: flex;
    font-size: vw(21);
    line-height: lh(21, 36);

    @include breakpoint-up(md) {
      font-size: liq(11);
      line-height: lh(11, 16);
    }

    &::before {
      content: "＊";
    }
  }
}