<div class="section section_kv">
  <div class="un_kv_txt_cont">
    <p class="un_kv_catch">
      <span class="u-hidden-up-md">
        <span class="bl_kv_catch_txt bl_kv_catch_txt_01">
          <span class="bl_imgWrapper">
            <img src="./assets/img/txt_kv_catch_01_sm.png" width="166" height="322" alt="世界の中に、">
          </span>
        </span>

        <span class="bl_kv_catch_txt bl_kv_catch_txt_02">
          <span class="bl_imgWrapper">
            <img src="./assets/img/txt_kv_catch_02_sm.png" width="99" height="32" alt="天然の">
          </span>
        </span>

        <span class="bl_kv_catch_txt bl_kv_catch_txt_03">
          <span class="bl_imgWrapper">
            <img src="./assets/img/txt_kv_catch_03_sm.png" width="198" height="32" alt="POWERを。">
          </span>
        </span>
      </span>

      <span class="u-hidden-down-sm">
        <span class="bl_kv_catch_txt bl_kv_catch_txt_01">
          <span class="bl_imgWrapper">
            <img src="./assets/img/txt_kv_catch_01_lg.png?v=230131" width="271" height="52" alt="世界の中に、">
          </span>
        </span>
        <span class="bl_kv_catch_txt bl_kv_catch_txt_02">
          <span class="bl_imgWrapper">
            <img src="./assets/img/txt_kv_catch_02_lg.png?v=230131" width="486" height="52" alt="天然のPOWERを。">
          </span>
        </span>
      </span>
    </p>

    <p class="un_kv_txt un_kv_txt_01 bl_imgWrapper">
      <picture>
        <source srcset="./assets/img/txt_kv_lg.png?v=230131" width="338" height="144" media="(min-width: 768px)">
        <img src="./assets/img/txt_kv_sm.png?v=230131" width="322" height="149" alt="天然は、ORIGIN。元来より自然界に存在する力を活かすこと。天然は、CHEMICAL。裏付けられた根拠に基づいて効果を発揮すること。天然は、KINDNESS。少ない負荷で身の回りを改善していくこと。">
      </picture>
    </p>

    <p class="un_kv_txt un_kv_txt_02 bl_imgWrapper">
      <picture>
        <source srcset="./assets/img/txt_kv_02_lg.png" width="512" height="92" media="(min-width: 768px)">
        <img src="./assets/img/txt_kv_02_sm.png" width="244" height="176" alt="化学の知見を磨き続け、そこで生み出された製品によって人々の抱える課題を解決してきたからこそ生み出せるものがある。天然素材や天然成分を活かして、世の中の心配や悩みを克服していくために。私たちは、答えをひとつひとつ、出していく。">
      </picture>
    </p>

    <ul class="bl_caution un_kv_caution">
      <li class="bl_caution_list">住友化学は、化学合成に加えて天然物由来の製品も<br class="u-hidden-up-md">これまで培った技術を活かし開発してまいります。</li>
    </ul>
  </div>

  <small class="un_kv_copy u-hidden-down-sm">Copyright&nbsp;&copy;&nbsp;Sumitomo&nbsp;Chemical&nbsp;Co.,&nbsp;Ltd.</small>

  <div class="un_scroll_down">
    <p class="un_scroll_down_txt">Scroll down</p>
    <div class="un_scroll_down_line">
      <div></div>
    </div>
  </div>
</div>