<footer class="ly_footer">
  <div class="un_footer_head">
    <nav class="un_footer_nav">
      <ul class="un_footer_nav_ul">
        <li class="bl_footer_nav_list">
          <a href="https://www.sumitomo-chem.co.jp/privacy_policy/" class="footer_nav_link" target="_blank" rel="noopener">プライバシーポリシー</a>
        </li>
        <li class="bl_footer_nav_list">
          <a href="https://www.sumitomo-chem.co.jp/rules/" class="footer_nav_link" target="_blank" rel="noopener">サイトのご利用にあたって</a>
        </li>
      </ul>
    </nav>
  </div>

  <div class="un_footer_bottom">
    <small class="un_footer_copy">Copyright&copy;&nbsp;2002-2023&nbsp;Sumitomo&nbsp;Chemical&nbsp;Co.,&nbsp;Ltd.</small>
  </div>
</footer>