<footer class="ly_footer">
  <small class="un_footer_copy">Copyright&copy;&nbsp;2002-2023&nbsp;Sumitomo&nbsp;Chemical&nbsp;Co.,&nbsp;Ltd.</small>
</footer>

<a href="#top" class="un_pagetop js_pagetop">
  <span class="un_pagetop_icon">
    <span class="un_icon_pagetop">
      <span class="un_pagetop_circle">
        <svg viewBox="0 0 36.776 36.776">
          <path d="M2251.726,9674.226a17.366,17.366,0,1,1-8.026-7.343" transform="translate(-2218.176 -9664.356)" fill="none" stroke="#fff" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"/>
        </svg>
      </span>

      <span class="un_pagetop_arrow">
        <svg viewBox="0 0 13 14.093">
          <g transform="translate(-2230.376 -9675.98)">
            <path d="M2231.083,9683.135l5.74-5.74,5.74,5.74" fill="none" stroke="#fff" stroke-miterlimit="10" stroke-width="2"/>
            <line y2="12.8" transform="translate(2236.823 9677.273)" fill="none" stroke="#fff" stroke-miterlimit="10" stroke-width="2"/>
          </g>
        </svg>
      </span>
    </span>
  </span>
  <span class="un_pagetop_txt">PAGE<br>TOP</span>
</a>