<header id="top" class="ly_header">
  <div class="un_header_inner">
    <h1 class="bl_header_logo un_header_logo_sumitomo_chemical bl_imgWrapper">
      <a href="https://www.sumitomo-chem.co.jp/" target="_blank" rel="noopener">
        <%- functions.responsiveImage('./assets/img/pic_logo_sumitomo_chemical_sm.png', 168, 31, 109, 27, '住友化学株式会社') %>
      </a>
    </h1>

    <p class="bl_header_logo un_header_logo_natural_products bl_imgWrapper">
      <a href="./">
        <%- functions.responsiveImage('./assets/img/pic_logo_natural_products_sm.png', 100, 36, 69, 27, 'Natural Products') %>
      </a>
    </p>
  </div>
</header>